<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MidTrans">
    <test thread-count="1" name="test" parallel="false">
        <groups>
            <run>
                <exclude name = "smoke"></exclude>
            </run>
        </groups>

        <classes>
            <class name="testCases.Testcases"/>
        </classes>
    </test>
</suite>